@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;500;600;700;800&display=swap');
body {
    font-family: "Montserrat";
}

.header-inner-div {
    padding-bottom: 10rem !important;
}


#randomUserDisplaySection {
    margin-top: -12rem;
}

.user-rounded-image {
    border-radius: 100%;
    margin-bottom: -4rem;
    border: 4px solid gainsboro;
}


#displayUserInfo {
    vertical-align: middle;

}

.fw-semibold{
  margin-top: 22px !important;
}

.title-select-top{
  float: left;
  padding-left: 3px;
}

.sidenav-left{
  padding: 10px;
}

.sidenav-left li p {
  text-align: left;
  margin-bottom: 0px !important;
  margin-left: 10px;
}

.sidenav-left li p:hover{
  cursor: pointer;
  background-color: #c8bda2;
}

.bellowTitle{
  color: #c37523 !important;
  border-bottom: .1em solid #ad681f;
}

.bellowTitlev2{
  border-bottom: .075em solid #ccc;
}

.lead {
  font-weight: 500;
  color: #5a5a5a;
}
.titleFCCG {
  color: #c37523 !important;
}

.titleShowCompany{
  border-bottom: .075em solid #ccc;
}

.nav-link.active {
  background-color: #a28d76 !important;
}
.nav-link {
  color: black !important;
}
.card-body{
  min-height: 500px;
}

.border-bottom-title{
  border-bottom: .1em solid #ad681f;
}
.textareaFCCG{
  min-height: 300px !important;
}
.aDownloadclass{
  cursor: pointer;
}
.aDownloadclass:hover{
  color: #ba9537;
  text-decoration:underline;
  .iconCopyHidden{
    display: inline !important;
  }
  .iconCopyHiddenTitle{
    display: inline !important;
  }
}
.aclass{
  margin-left: 5px;
  cursor: pointer;
}
.aclass:hover{
  color: #ba9537;
  .iconCopyHidden{
    display: inline !important;
  }
  .iconCopyHiddenTitle{
    display: inline !important;
  }
}

.iconCopyHidden{
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: none;
}
.titleField{
  font-weight: bold;
}

.taga{
  color: #cc893f;
  text-decoration: auto;
  font-weight: 600;
}

.iconCopyHiddenTitle{
  font-size: 20px;
  margin-left: 5px;
  display: none;
}

.note-redirect{
  font-style: italic;
  font-weight: 700;
  font-size: small;
  color: #ad681f;
}

.titleFeature{
  font-style: italic;
  font-weight: 700;
  font-size: larger;
  color: #ad681f;
}